params {
    images = [
        tpp:                   'spctools/tpp:version6.3.3',
        panorama_client:       'quay.io/protio/panorama-client:1.1.0',
        limelight_xml_convert: 'mriffle/comet-tpp-to-limelight:2.8.3',
        limelight_upload:      'quay.io/protio/limelight-submit-import:5.0.3',
        comet:                 'quay.io/protio/comet:2023020-prerelease2',
        proteowizard:          'quay.io/protio/pwiz-skyline-i-agree-to-the-vendor-licenses:3.0.24054-2352758'
    ]
}
