params {

    // the data to be processed
    spectra_dir     = '/data/mass_spec/raw_files'
    fasta        = '/data/mass_spec/yeast.fasta'
    comet_params = 'comet.params'

    // PeptideProphet params. Decoy string and num threads are set by the workflow, do not set
    peptide_prophet_params = 'MINPROB=0.1 NONPARAM BANDWIDTHX=2 CLEVEL=1 PPM ACCMASS NONPARAM ONEFVAL VMC EXPECTSCORE'

    run_ptm_prophet = true
    ptmprophet_probability_filter = 0.9

    // The mods searched for by PTMProphet.
    ptm_prophet_mods = 'STY:79.996633'

    // PTMProphet params. Num threads is set by the workflow, do not set
    ptm_prophet_params = 'FRAGPPMTOL=50 STATIC NOSTACK MINPROB=0.1'

    // receive email when done at this address
    //email = 'your@email.edu'

    ///////////////////////////
    // items below here related to uploading to Limelight
    ///////////////////////////

    // whether or not to upload to limelight
    limelight_upload = false

    // limelight upload parameters
    limelight_project_id         = 3882
    limelight_search_description = 'test upload search'
    limelight_search_short_name  = 'tus'
    limelight_tags               = 'test,tpp'
    limelight_import_decoys      = false

    // unlikely to need to change this
    limelight_webapp_url = 'https://limelight.yeastrc.org/limelight'
}